body {
    font-size: 16px;
    font-family: system-ui;
    /*background:-webkit-radial-gradient(top left, #ffffff,#000000);*/
    background-image: url(iletisimArkaPlan.jpg);
    background-size: cover;
}

.form {
    background: transparent;
    width: 100%;
}

h2 {
    text-align: center;
    color: white;
}

form {
    width: 400px;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;

    backdrop-filter: blur(20px);
    margin: 4% auto;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

label i {
    color: #999;
    font-size: 80%;
}

input,
select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #a9bae64a;
}

.box {
    padding-bottom: 10px;
}

.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}

.form-inline label,
.form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.altButon {
    margin-top: 15px;
    color: white;
}

label {
    color: white;
}

select {
    outline: none !important;
}